<div class="character-detail" *ngIf="character">
  <h2>{{ character.name }}</h2>
  <img [src]="character.image" alt="{{ character.name }}">
  <p>Status: {{ character.status }}</p>
  <p>Species: {{ character.species }}</p>
  <p>Gender: {{ character.gender }}</p>
  <p>Origin: <a [routerLink]="['/locations', character.origin.url.split('/').pop()]">{{ character.origin.name }}</a></p>
  <p>Location: <a [routerLink]="['/locations', character.location.url.split('/').pop()]">{{ character.location.name }}</a></p>
</div>
